/* Variables */
/* IMAGES */
/* COLORS */
/* FONTS */
/* LENGTH MEASUREMENTS */
/* APP ICON MEASUREMENTS */
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  /* be careful with mobile landscape and tablet portrait here */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  color: ghostwhite;
  font-size: 11pt;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #414141;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  background-image: url("../images/chessboard002.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* clock */
.clock-wrapper {
  position: relative;
  width: 100%;
  /* set any background color to visualize the irregular shape */
  background-color: #ddd !important;
  /* set the padding-top based on the desired width:height ratio */
  padding-top: 0%;
  /* height: 100vh;
  width: 100%; */
  /* height: 100%;
  width: 100%; */
  /* background-color: blueviolet; */
  /* background: midnightblue; */
  /* border-radius: 50%; */
}

.clock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  backdrop-filter: blur(10px);
  border: 5px solid ghostwhite;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.clock:before {
  content: "";
  position: absolute;
  /* width: 280px;
  height: 280px; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* border: 18px solid #cccccc; */
  border-radius: 50%;
  z-index: -2;
}

.clock:after {
  content: "";
  width: 18px;
  height: 18px;
  background: grey;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 9px);
  top: calc(50% - 9px);
}

.clock li {
  list-style-type: none;
  position: absolute;
}

.second-hand {
  width: 100%;
  height: 100%;
  animation: sec 60s steps(60, end) infinite;
}

.second-hand:after {
  content: "";
  width: 4px;
  height: 42%;
  border-radius: 2px;
  /* background: red; */
  background: ghostwhite;
  position: absolute;
  left: calc(50% - 2px);
  top: 12%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1490196078);
}

@keyframes sec {
  to {
    transform: rotate(360deg);
  }
}
.minute-hand {
  width: 100%;
  height: 100%;
  animation: sec 3600s steps(60, end) infinite;
}

.minute-hand:after {
  content: "";
  width: 8px;
  height: 79px;
  border-radius: 4px 4px 2px 2px;
  background: gray;
  position: absolute;
  left: calc(50% + 30px);
  top: 29%;
  transform: rotate(-120deg);
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1490196078);
}

.hour-hand {
  width: 100%;
  height: 100%;
  transform: rotate(120deg);
}

.hour-hand:after {
  content: "";
  width: 12px;
  height: 65px;
  border-radius: 6px 6px 3px 3px;
  background: orange;
  position: absolute;
  left: calc(50% - 4px);
  top: 50%;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1490196078);
}

.numbers {
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 5%;
  text-align: center;
}

.numbers span {
  display: block;
  color: #dbe7fd;
  font-size: 38px;
  text-shadow: 0 5px 18px rgba(0, 0, 0, 0.1490196078), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.numbers:nth-child(1) {
  transform: rotate(30deg);
}

.numbers:nth-child(1) span {
  transform: rotate(-30deg);
}

.numbers:nth-child(2) {
  transform: rotate(60deg);
}

.numbers:nth-child(2) span {
  transform: rotate(-60deg);
}

.numbers:nth-child(3) {
  transform: rotate(90deg);
}

.numbers:nth-child(3) span {
  transform: rotate(-90deg);
}

.numbers:nth-child(4) {
  transform: rotate(120deg);
}

.numbers:nth-child(4) span {
  transform: rotate(-120deg);
}

.numbers:nth-child(5) {
  transform: rotate(150deg);
}

.numbers:nth-child(5) span {
  transform: rotate(-150deg);
}

.numbers:nth-child(6) {
  transform: rotate(180deg);
}

.numbers:nth-child(6) span {
  transform: rotate(-180deg);
}

.numbers:nth-child(7) {
  transform: rotate(210deg);
}

.numbers:nth-child(7) span {
  transform: rotate(-210deg);
}

.numbers:nth-child(8) {
  transform: rotate(240deg);
}

.numbers:nth-child(8) span {
  transform: rotate(-240deg);
}

.numbers:nth-child(9) {
  transform: rotate(270deg);
}

.numbers:nth-child(9) span {
  transform: rotate(-270deg);
}

.numbers:nth-child(10) {
  transform: rotate(300deg);
}

.numbers:nth-child(10) span {
  transform: rotate(-300deg);
}

.numbers:nth-child(11) {
  transform: rotate(330deg);
}

.numbers:nth-child(11) span {
  transform: rotate(-330deg);
}

.opaque_blur {
  backdrop-filter: blur(21px);
}

.slider {
  overflow: hidden;
}

.slides-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 10px;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.slides-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

.slides-container::-webkit-scrollbar-track {
  background: transparent;
}

.slide {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  /* width: 300px;
  height: 300px; */
  /* margin-right: 50px; */
  /* border-radius: 10px; */
  /* background: #eee; */
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-container {
  /* background-color: lightpink; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.widget {
  width: 90%;
  height: 90%;
}

.widget {
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #323232;
  backdrop-filter: blur(21px);
}
.widget img {
  transition: transform ease 0.5s;
}
.widget .img-overlay-text {
  transition: bottom ease 0.5s;
}

.widget:hover img {
  transform: scale(1.2);
}
.widget:hover .img-overlay-text {
  bottom: 20px;
}

.widget .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-overlay-wrapper {
  position: relative;
}

.img-overlay-text {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.img-overlay-text .photo-title {
  display: block;
  font-family: "Roboto Condensed";
  font-size: 1.65em;
  text-align: left;
}

.img-overlay-text .photo-date {
  display: block;
  text-align: left;
}

.profile-text-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.profile-text-group .profile-title {
  font-family: "Roboto Condensed";
  font-size: 2.65rem;
  text-align: left;
}

.profile-text-group .profile-subtitle {
  margin: 0 10px;
  font-size: 1.65rem;
  white-space: normal;
  text-align: left;
}

.profile-text-group .profile-description {
  white-space: normal;
  text-align: left;
}

.date-location-group {
  overflow: hidden;
}

.date-group {
  border-bottom: solid 2px ghostwhite;
}

.location-group {
  overflow: hidden;
}

.weekday-text {
  font-family: "Roboto Condensed";
  font-size: 2.1rem;
}
@media screen and (min-device-width: 768px) {
  .weekday-text {
    font-size: 3.2rem;
  }
}

.day-text {
  font-family: "Arial";
  font-size: 1.2rem;
}
@media screen and (min-device-width: 768px) {
  .day-text {
    font-size: 2.1rem;
  }
}

.day-month-text {
  font-family: "Arial";
  font-size: 1.2rem;
}
@media screen and (min-device-width: 768px) {
  .day-month-text {
    font-size: 2.1rem;
  }
}

.city-text {
  font-family: "Roboto Condensed";
  font-size: 1.2rem;
}
@media screen and (min-device-width: 768px) {
  .city-text {
    font-size: 1.5rem;
  }
}

.country-text {
  font-family: "Arial";
  font-size: 1.2rem;
}
@media screen and (min-device-width: 768px) {
  .country-text {
    font-size: 1.5rem;
  }
}

.digital-time-group {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.digital-time-text {
  font-family: "Roboto Condensed";
  font-size: 2.1rem;
}
@media screen and (min-device-width: 768px) {
  .digital-time-text {
    font-size: 3.2rem;
  }
}

.mock-clock-group {
  overflow: hidden;
  display: flex;
  justify-content: right;
}

.calender-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digital-clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-container {
  /* background-color: lightpink; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container a {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app-container a .app-icon {
  height: 75px;
  width: 75px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  backdrop-filter: blur(10px);
}
@media screen and (max-device-width: 768px) {
  .app-container a .app-icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-device-width: 1024px) {
  .app-container a .app-icon {
    width: 80px;
    height: 80px;
  }
}
.app-container a .app-label {
  text-align: center;
  color: ghostwhite;
  padding-top: 5px;
  font-size: smaller;
}
@media screen and (min-device-height: 768px) {
  .app-container a .app-label {
    padding-top: 10px;
    font-size: inherit;
  }
}
.app-container a .app-icon, .app-container a .app-label {
  transition: top ease 0.5s;
  position: relative;
  top: 0;
}

.app-container a:hover .app-icon, .app-container a:hover .app-label {
  top: -10px;
}

.dockbar {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(60, 60, 60, 0.26);
  backdrop-filter: blur(10px);
}

.dockbar-item {
  height: 90%;
  width: auto;
  max-height: 65px;
  max-width: 65px;
  margin: 0 5px;
  padding: 0;
  /* background-color: bisque; */
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform ease 0.5s, top ease 0.5s, margin ease 0.5s, box-shadow ease 0.5s;
  transform: scale(1);
  position: relative;
  top: 0;
}
@media screen and (max-device-width: 768px) {
  .dockbar-item {
    max-width: 45px;
    max-height: 45px;
  }
}
@media screen and (min-device-width: 1024px) {
  .dockbar-item {
    max-width: 75px;
    max-height: 75px;
  }
}

.dockbar-item:hover {
  transform: scale(1.2);
  top: -10px;
}

.dockbar-item img {
  width: 100%;
  height: 100%;
  fill: none;
}

.main-screen-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.mobile-screen {
  height: 100%;
}

.app-menu-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.dockbar-container {
  height: 10%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-in-portrait {
  display: inline-flex;
}

.show-in-portrait {
  display: none;
}

@media screen and (orientation: portrait) {
  .hide-in-portrait {
    display: none;
  }
  .show-in-portrait {
    display: inline-flex;
  }
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
}
@media screen and (orientation: portrait) {
  .grid-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.profile {
  grid-area: profile;
}

.clock-area {
  grid-area: clock;
}

.orchid {
  grid-area: orchid;
}

.calender {
  grid-area: calender;
}

.grid-wrapper.homescreen {
  display: grid;
  gap: 0;
  grid-template-areas: "profile profile clock orchid . ." "profile profile calender calender . ." ". . . . . ." ". . . . . .";
}
@media screen and (orientation: portrait) {
  .grid-wrapper.homescreen {
    grid-template-areas: "profile profile orchid orchid" "profile profile orchid orchid" "calender calender calender calender" "calender calender calender calender" "clock clock . ." "clock clock . .";
  }
}

/*# sourceMappingURL=main.css.map */
