@use 'vars';

// .app-menu-container {
//     position: absolute;
//     top: vars.$top_margin;
//     left: 0;
//     right: 0;

//     height: 80vh;
//     width: 90vw;
//     max-height: vars.$max_height_app_menu;
//     max-width: vars.$max_width_app_menu;

//     margin: 0 auto;
// }


.app-container, .widget-container {

    /* background-color: lightpink; */

    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20vh;
    
    -webkit-text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.app-container a {
    height: auto;    
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .app-icon {
        width: 10vh;
        height: 10vh;
    
        border-radius: 12px;
    
        /* background-color: beige; */
        /* background-image:url('./images/avatar.jpg'); */
        background-repeat:no-repeat;
        background-position:center;
        background-size:100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    
        overflow:hidden;
    
        /* border: solid 2px #666; */
    
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        
        backdrop-filter: blur(10px);
    
    }
    
    .app-label {
    
        text-align: center;
        color: vars.$white_text;
    
        margin-top: 10px;
    }

    .app-icon, .app-label {
        transition: top ease 0.5s;
        position: relative;
        top: 0;
    }
}
.app-container a:hover{
    .app-icon, .app-label {
        top: -10px;
    }
}



.widget {

    border-radius: 12px;

    /* background-color: beige; */
    /* background-image:url('./images/avatar.jpg'); */
    /* background-repeat:no-repeat;
    background-position:center;
    background-size:100%; */
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow:hidden;

    /* border: solid 12px green; */


    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    backdrop-filter: blur(10px);

    transition: top ease 0.5s;

    position: relative;
    top: 0;
}

.widget:hover {
    top: -10px;
}

.widget-container.sm {
    height: 20vh;
}

.widget-container.md {
    height: 20vh;
}

.widget-container.lg {
    height: 40vh;
}

.widget-container .widget.sm {
    /* width: 100%;
    height: 90%; */

    height: 18vh;
    width: 18vh;
}

.widget-container .widget.md {
    /* width: 100%;
    height: 90%; */

    height: 18vh;
    width: 28vw;
}

.widget-container .widget.lg {
    /* width: 100%;
    height: 95%; */

    max-height: 38vh;
    width: 28vw;
}


.widget .photo {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */

    width: 100%;
    height: 120%;

    object-fit: cover;
}

.img-overlay-wrapper {
    position: relative;
}

.img-overlay-text {
    position: absolute; 
    left: 10px;
    bottom: 10px;
}
.img-overlay-text .photo-title {
    display: block;

    font-family: 'Roboto Condensed';
    font-size: 1.65em;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 600; */
}
.img-overlay-text .photo-date {
    display: block;
}

.profile-text-group {
    /* position: absolute; 
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px; */
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
}
.profile-text-group .profile-title {

    font-family: 'Roboto Condensed';
    font-size: 2.65rem;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 600; */
}
.profile-text-group .profile-subtitle {
    margin: 0 10px;
    font-size: 1.65rem;
    white-space: normal;
}
.profile-text-group .profile-description {

    white-space: normal;
}
