@use 'vars';


.app-container {

    /* background-color: lightpink; */
    display: flex;
    align-items: center;
    justify-content: center;

    // height: 100%;
}

.app-container a {
    height: auto;    
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .app-icon {

        height: vars.$icon_length;
        width: vars.$icon_length;
        @media screen and (max-device-width: vars.$tablet_breakpoint) {
            width: vars.$small_icon_length;
            height: vars.$small_icon_length;
        }
        @media screen and (min-device-width: vars.$laptop_breakpoint) {
            width: vars.$large_icon_length;
            height: vars.$large_icon_length;
        }

        // @media screen and (orientation: portrait) {
        //     width: 15vw;
        //     height: 15vw;
        // }
    
        border-radius: vars.$border_curve_slight;
        
        display: flex;
        align-items: center;
        justify-content: center;
        overflow:hidden;
    
        -webkit-box-shadow: vars.$box_shadow_level_2;
        -moz-box-shadow: vars.$box_shadow_level_2;
        box-shadow: vars.$box_shadow_level_2;
        
        backdrop-filter: vars.$normal_blur;
    }
    
    .app-label {
    
        text-align: center;
        color: vars.$white_text;
        
        padding-top: 5px;
        font-size: smaller;

        @media screen and (min-device-height: vars.$landscape_height_breakpoint) {
            padding-top: 10px;
            font-size: inherit;
        }
    }

    .app-icon, .app-label {
        transition: top ease 0.5s;
        position: relative;
        top: 0;
    }
}
.app-container a:hover{
    .app-icon, .app-label {
        top: -10px;
    }
}
