@use 'vars';

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    text-align: center;
}
  
body {
    // default font
    color: vars.$white_text;
    font-size: vars.$default_font_size;
    font-family: vars.$default_font_family;

    // background fallback color gradient
    background: linear-gradient(145deg, rgba(79,0,107,1) 0%, rgba(124,27,187,1) 25%, rgba(127,57,212,1) 39%, rgba(0,212,255,1) 100%);
    
    background-image: vars.$body_bg_img;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    // overflow: hidden;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}