/* Variables */

/* IMAGES */
$body_bg_img: url('../images/chessboard002.png');

/* COLORS */
$white_text: ghostwhite;
$gray_text: grey;
$black_text: black;

$dockbar_bg_color: rgba( 60, 60, 60, 0.26);

/* FONTS */
$default_font_size: 11pt;
$default_font_family: Helvetica, Arial, sans-serif;


/* LENGTH MEASUREMENTS */
$max_height_app_menu: 675px;
$max_width_app_menu: 1200px;

$max_height_dockbar: 80px;
$max_width_dockbar: 1200px;

/* APP ICON MEASUREMENTS */
$small_icon_length: 50px;
$icon_length: 75px;
$large_icon_length: 80px;

$small_dockitem_length: 45px;
$dockitem_length: 65px;
$large_dockitem_length: 75px;

// Common breakpoints for widths of devices:
$mobile_breakpoint: 480px;
$tablet_breakpoint: 768px;
$laptop_breakpoint: 1024px;
$large_screen_breakpoint: 1200px;

$landscape_height_breakpoint: 768px;

@media screen and (max-device-width: $mobile_breakpoint) {

}

@media screen and 
(min-device-width: $mobile_breakpoint) and 
(max-device-width: $tablet_breakpoint) {
    /* be careful with mobile landscape and tablet portrait here */
    // use 3:2 ratios for app -menu
}

@media screen and 
(min-device-width: $tablet_breakpoint) and 
(max-device-width: $laptop_breakpoint) {

    
}

@media screen and 
(min-device-width: $laptop_breakpoint) and 
(max-device-width: $large_screen_breakpoint) {

    
}

@media screen and 
(min-device-width: $large_screen_breakpoint){
    
}

// MARGINS 
$top_margin: 20px;
$bot_margin: 10px;

// BORDERS
$border_curve_slight: 12px;
$border_curve: 22px;
$border_curve_round: 32px;

// box shadows
$box_shadow_level_1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box_shadow_level_2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box_shadow_level_3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box_shadow_level_4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box_shadow_level_5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$box_shadow_level_6: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
$box_shadow_level_7: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
$box_shadow_level_8: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);

// text shadows
$text_shadow_level_1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$text_shadow_level_2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$text_shadow_level_3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$text_shadow_level_4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$text_shadow_level_5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$text_shadow_level_6: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
$text_shadow_level_7: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
$text_shadow_level_8: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);

// BLUR
$normal_blur: blur(10px);
$opaque_blur: blur(21px);
