@use 'vars';

.widget-container {

    /* background-color: lightpink; */
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.widget {
    width: 90%;
    height: 90%;
}

.widget {

    border-radius: vars.$border_curve_slight;
    overflow: hidden;

    -webkit-box-shadow: vars.$box_shadow_level_2;
    -moz-box-shadow: vars.$box_shadow_level_2;
    box-shadow: vars.$box_shadow_level_2;

    backdrop-filter: vars.$opaque_blur;

    transition: transform ease 0.5s;
}
.widget:hover {
    transform: scale(1.05);
}


// .widget-container.sm {
//     // height: 20vh;

//     // 6 cols 4 rows in landscape and 4 cols 6 rows in portrait
//     height: 25%;
//     @media screen and (orientation: portrait) {
//         height: 16.6%;
//     }
// }

// .widget-container.md {
//     // height: 20vh;
    
//     // 6 cols 4 rows in landscape and 4 cols 6 rows in portrait
//     height: 25%;
//     @media screen and (orientation: portrait) {
//         height: 16.6%;
//     }
// }

// .widget-container.lg {
//     // height: 40vh;

//     // 6 cols 4 rows in landscape and 4 cols 6 rows in portrait
//     height: 50%;
//     @media screen and (orientation: portrait) {
//         height: 33.33%;
//     }
// }


// .widget-container .widget.sm {
//     width: 90%;
//     height: 90%;

//     // height: 18vh;
//     // width: 18vh;
// }

// .widget-container .widget.md {
//     width: 90%;
//     height: 90%;

//     // height: 18vh;
//     // width: 28vw;
// }

// .widget-container .widget.lg {
//     width: 90%;
//     height: 90%;

//     // max-height: 38vh;
//     // width: 28vw;
// }


.widget .photo {

    width: 100%;
    // height: 120%;
    height: 100%;

    object-fit: cover;
}

.img-overlay-wrapper {
    position: relative;
}

.img-overlay-text {
    position: absolute; 
    left: 10px;
    bottom: 10px;
}
.img-overlay-text .photo-title {
    display: block;

    font-family: 'Roboto Condensed';
    font-size: 1.65em;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 600; */
}
.img-overlay-text .photo-date {
    display: block;
}

.profile-text-group {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
}
.profile-text-group .profile-title {

    font-family: 'Roboto Condensed';
    font-size: 2.65rem;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 600; */
}
.profile-text-group .profile-subtitle {
    margin: 0 10px;
    font-size: 1.65rem;
    white-space: normal;
}
.profile-text-group .profile-description {

    white-space: normal;
}

.date-location-group {
    overflow: hidden;
}
.date-group {
    border-bottom: solid 2px ghostwhite;
}
.location-group {
    overflow: hidden;
}
.day-month-text {

    font-family: 'Roboto Condensed';
    font-size: 1.65em;
}
.weekday-text {

    font-family: 'Arial';
    font-size: 1.2em;
}

.city-text {

    font-family: 'Roboto Condensed';
    font-size: 1.65em;
}
.country-text {

    font-family: 'Arial';
    font-size: 1em;
}

.digital-time-group {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.digital-time-text {
    font-family: 'Roboto Condensed';
    font-size: 3.6em;
}

.mock-clock-group {

    overflow: hidden;
    display: flex;
    justify-content: right;
}