
* {
    box-sizing: border-box;
}
  
body {
    /* default fonts */
    color: aliceblue;
    font-size: 1em;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Helvetica, Arial, sans-serif;
    
    /* background */
    /* background-color: rgb(79,0,107); fallback */
    background: linear-gradient(145deg, rgba(79,0,107,1) 0%, rgba(124,27,187,1) 25%, rgba(127,57,212,1) 39%, rgba(0,212,255,1) 100%);
    
    background-image: url('../images/t_nandar_full_chessboard_color_corrected_upsidedown.png');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100vw auto;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

img {
    object-fit: cover;
}

.main-screen-container {
    /* width: 100%;
    height: 90vh; */
    /* overflow: hidden; */

    /* margin: 0;
    padding: 10px 20px; */
}


.app-menu-container {
    /* background-color: slateblue; */

    height: 80vh;
    width: 90vw;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    margin: 5vh 5vw;
}


.dockbar-container {
    /* background-color: maroon; */

    height: 10vh;
    width: 90vw;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;

    margin: 0 5vw;

    /* border-radius: 16px;

    -webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
    z-index: 0; */

    

    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */

    /* background-color: maroon; */

}

.dockbar {
    
    height: 100%;

    margin: 0;
    padding: 5px 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */

    /* background-color: aqua; */
    
    border-radius: 12px;
    
    -webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .2);

    /* background-color: mintcream; */
    backdrop-filter: blur(10px);
}

.wave-banner {
    display: none;
}

.dockbar-item {
    height: 10vh;
    width: 10vh;

    margin: 0;
    padding: 0;
    
    /* background-color: bisque; */

    border-radius: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    transform: scale(0.75);
    
    transition: transform ease 0.5s, top ease 0.5s, margin ease 0.5s, box-shadow ease 0.5s;

    position: relative;
    top: 0;
}
.dockbar-item img {
    fill: none;
    /* stroke: #646464; */
    stroke: red;
    stroke-width: 10px;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.dockbar-item:hover {
    transform: scale(1.5);
    top: -20px;
    margin: 0 15px;
}

.dockbar-item:first-child:hover {
    margin: 0 15px 0 32px;
}
.dockbar-item:last-child:hover {
    margin: 0 32px 0 15px;
}

.dockbar-item img {
    width: 100%;
    height: 100%;
}

.app-container, .widget-container {

    /* background-color: lightpink; */

    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 20vh;
    
    -webkit-text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.app-icon {
    width: 10vh;
    height: 10vh;

    border-radius: 12px;

    /* background-color: beige; */
    /* background-image:url('./images/avatar.jpg'); */
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow:hidden;

    /* border: solid 2px #666; */

    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    backdrop-filter: blur(10px);

    transition: top ease 0.5s;

    position: relative;
    top: 0;
}

.app-icon:hover {
    top: -10px;
}

.app-label {

    text-align:center;
    color: white;

    margin-top: 10px;
    padding: 0 5px;

    border-radius: 5px;


    transition: top ease 0.5s;

    position: relative;
    top: 0;
}

.app-icon:hover + .app-label {
    top: -10px;
}

.widget {

    border-radius: 12px;

    /* background-color: beige; */
    /* background-image:url('./images/avatar.jpg'); */
    /* background-repeat:no-repeat;
    background-position:center;
    background-size:100%; */
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow:hidden;

    /* border: solid 12px green; */


    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    backdrop-filter: blur(10px);

    transition: top ease 0.5s;

    position: relative;
    top: 0;
}

.widget:hover {
    top: -10px;
}

.widget-container.sm {
    height: 20vh;
}

.widget-container.md {
    height: 20vh;
}

.widget-container.lg {
    height: 40vh;
}

.widget-container .widget.sm {
    /* width: 100%;
    height: 90%; */

    height: 18vh;
    width: 18vh;
}

.widget-container .widget.md {
    /* width: 100%;
    height: 90%; */

    height: 18vh;
    width: 28vw;
}

.widget-container .widget.lg {
    /* width: 100%;
    height: 95%; */

    height: 38vh;
    width: 28vw;
}


.widget .photo {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */

    width: 100%;
    height: 120%;

    object-fit: cover;
}

.img-overlay-wrapper {
    position: relative;
}

.img-overlay-text {
    position: absolute; 
    left: 10px;
    bottom: 10px;
}
.img-overlay-text .photo-title {
    display: block;

    font-family: 'Roboto Condensed';
    font-size: 1.65em;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 600; */
}
.img-overlay-text .photo-date {
    display: block;
}

.profile-text-group {
    /* position: absolute; 
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px; */
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
}
.profile-text-group .profile-title {

    font-family: 'Roboto Condensed';
    font-size: 2.65rem;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 600; */
}
.profile-text-group .profile-subtitle {
    margin: 0 10px;
    font-size: 1.65rem;
    white-space: normal;
}
.profile-text-group .profile-description {

    white-space: normal;
}




/*
The following are the dimensions of the iPad screen for iOS 16:

Resolution: 2732 x 2048 pixels
Screen size: 12.9 inches
Aspect ratio: 4:3
Here are some additional measurements that may be helpful for creating an iOS 16-style home screen:

App icons: 120 x 120 pixels, with a 20 pixel corner radius
App icon grid: 6 columns by 5 rows
Spacing between app icons: 58 pixels horizontally and 65 pixels vertically
Dock height: 107 pixels
Dock icon size: 130 x 130 pixels
Dock icon spacing: 20 pixels horizontally
***/










/* -----------------------------------------------------------------------------
*/



/* clock */
* {
    margin: 0;
    padding: 0;
  }
  .clock-wrapper {
    /* height: 100vh;
    width: 100%; */

    /* height: 100%;
    width: 100%; */

    /* background-color: blueviolet; */

    font-family: "Josefin Sans", sans-serif;
    float: left;



    /* background: midnightblue; */
    /* border-radius: 50%; */
  }
  #clock {
    /* width: 280px;
    height: 280px; */
    
    width: 100%;
    height: 100%;

    /* background: #25283d; */
    /* border: 18px solid black; */
    background: midnightblue;
    border: 5px solid #3853ffa1;
    border-radius: 50%;
    margin: 100px auto;
    position: relative;
   
  }
  #clock:before {
    content: "";
    position: absolute;
    /* width: 280px;
    height: 280px; */

    width: 100%;
    height: 100%;

    left: -18px;
    top: -10px;
    /* border: 18px solid #cccccc; */

    border-radius: 50%;
    z-index: -2;
  }
  #clock:after {
    content: "";
    width: 18px;
    height: 18px;
    /* background: #c7d8f8; */
    background: slategray;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 9px);
    top: calc(50% - 9px);
    /* box-shadow: 0 2px 4px #00000026; */
    text-shadow: 0 5px 18px #231cffc2, 0 2px 3px #3853ffa1;
  }
  #clock li {
    list-style-type: none;
    position: absolute;
  }
  .numbers {
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 5%;
    text-align: center;
  }
  .numbers span {
    display: block;
    color: #dbe7fd;
    font-size: 38px;
    /* text-shadow: 0 5px 18px #00000026, 0 2px 3px #00000033; */
  }
  .numbers:nth-child(1) {
    transform: rotate(30deg);
  }
  .numbers:nth-child(1) span {
    transform: rotate(-30deg);
  }
  .numbers:nth-child(2) {
    transform: rotate(60deg);
  }
  .numbers:nth-child(2) span {
    transform: rotate(-60deg);
  }
  .numbers:nth-child(3) {
    transform: rotate(90deg);
  }
  .numbers:nth-child(3) span {
    transform: rotate(-90deg);
  }
  .numbers:nth-child(4) {
    transform: rotate(120deg);
  }
  .numbers:nth-child(4) span {
    transform: rotate(-120deg);
  }
  .numbers:nth-child(5) {
    transform: rotate(150deg);
  }
  .numbers:nth-child(5) span {
    transform: rotate(-150deg);
  }
  .numbers:nth-child(6) {
    transform: rotate(180deg);
  }
  .numbers:nth-child(6) span {
    transform: rotate(-180deg);
  }
  .numbers:nth-child(7) {
    transform: rotate(210deg);
  }
  .numbers:nth-child(7) span {
    transform: rotate(-210deg);
  }
  .numbers:nth-child(8) {
    transform: rotate(240deg);
  }
  .numbers:nth-child(8) span {
    transform: rotate(-240deg);
  }
  .numbers:nth-child(9) {
    transform: rotate(270deg);
  }
  .numbers:nth-child(9) span {
    transform: rotate(-270deg);
  }
  .numbers:nth-child(10) {
    transform: rotate(300deg);
  }
  .numbers:nth-child(10) span {
    transform: rotate(-300deg);
  }
  .numbers:nth-child(11) {
    transform: rotate(330deg);
  }
  .numbers:nth-child(11) span {
    transform: rotate(-330deg);
  }
  #second {
    width: 100%;
    height: 100%;
    animation: sec 60s steps(60, end) infinite;
  }
  #second:after {
    content: "";
    width: 4px;
    /* height: 107px; */
    height: 8vh;

    border-radius: 2px;
    /* background: red; */
    background: #3853ffa1;
    position: absolute;
    left: calc(50% - 2px);
    top: 55px;
    box-shadow: 1px 2px 3px #00000026;
  }
  #minute {
    width: 100%;
    height: 100%;
    animation: sec 3600s steps(60, end) infinite;
  }
  #minute:after {
    content: "";
    width: 8px;
    height: 79px;
    border-radius: 4px 4px 2px 2px;
    background: gray;
    position: absolute;
    left: calc(50% + 30px);
    top: 29%;
    transform: rotate(-120deg);
    box-shadow: -1px 0 5px #00000026;
  }
  #hour {
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
  }
  
  #hour:after {
    content: "";
    width: 12px;
    height: 65px;
    border-radius: 6px 6px 3px 3px;
    background: orange;
    position: absolute;
    left: calc(50% - 4px);
    top: 50%;
    box-shadow: 1px 0 4px #00000026;
  }
  
  @keyframes sec {
    to {
      transform: rotate(360deg);
    }
  }
  
  
























/* .scrollable-component {
    cursor: grab;
    overflow: auto;
    user-select: none;
    width: 100%;
}
.scrollable-component:active {
    cursor: grabbing;
}
.scrollable-component::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}


#quick-nav {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    overflow: auto;
    padding-bottom: 5px;
    width: 100%;
    z-index: 3;
}
#quick-nav .quick-nav-item {
    padding: 10px 20px;
}
#quick-nav .quick-nav-item:last-of-type {
    margin-right: 10px;
}
#quick-nav .quick-nav-item .quick-nav-item-label {
    color: grey;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}


.swipable-screen {
    cursor: grab;
    overflow: auto;
    user-select: none;
    width: 100%;
}
.swipable-screen:active {
    cursor: grabbing;
}
.swipable-screen::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

#swipe-screen-nav {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    overflow: auto;
    padding-bottom: 5px;
    width: 100%;
    z-index: 3;
}
#swipe-screen-nav .swipe-screen-nav-item {
    padding: 10px 20px;
    
    min-width: 95vw;
    background: red;
}
#swipe-screen-nav .swipe-screen-nav-item:last-of-type {
    margin-right: 10px;
}
#swipe-screen-nav .swipe-screen-nav-item .swipe-screen-nav-item-label {
    color: goldenrod;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    
} */
